.stuff {
color: purple;
}

body{
  background-color: lightblue;
  margin-left: 5px;
}

* {
  border: 5px solid red;
  border-color: red;
}

h1, h3 {
  padding-bottom: 3px;
  border: 5px;
  border-color: red;
}

h1:hover {
  color: green;
}

#mylist> li:hover {
color: green;
}

 {
  color: orange;
}
